body{
  background-image: url("bg.jpg");
  background-attachment: fixed;
  background-size: 100%;
  text-align: center;
}

input{
  text-align: center;
}

#header{
  margin-top: 2em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #bbb;
  border-top: 1px solid white;

}

#copyright{
  color: #555;
  font-size: 1em;
}


#backButtonHolder{
  position: absolute; /* Stay in place */
  margin: 1em;
  z-index: 2; /* Sit on top */
  top: 4px;
  left: 4px;
}
